.petshop-icon {
  vertical-align: middle;
  color: #626264;
}

.petshop-image{
  border-radius: 7px;
  margin-bottom: 20px;
}

.petshop-infos text{
  font-size: 13px;
  margin-right: 10px;
  vertical-align: middle;
  color: #626264;
}

.star-icon{
  color: #facd5d;
}
