.petshop-list-container{
  height: 300px;
  position: absolute;
  margin-bottom: 0;
  top: 160px;
  z-index: 999;
  left: 0;
  right: 0;
}

.petshop-list{
  padding: 15px;
  white-space: nowrap;
  overflow-x: auto;
  width: 100%;
  margin-top: 15px;
}