.petshop{
  list-style: none;
  padding: 7px;
  margin-right: 20px;
  border-radius: 5px;
  border-bottom: 3px transparent;
  transition: all 0.3s ease;
  cursor: pointer;
}

.petshop img{
  width: 80px;
  border-radius: 5px;
  vertical-align: baseline;
}

.petshop b{
  margin-bottom: 0;
}

.petshop .petshop-infos{
  vertical-align: middle;
  color: #626264;
}

.star-icon{
  color: #facd5d;
}

.petshop-infos text{
  font-size: 13px;
  margin-right: 10px;
  vertical-align: middle;
  color: #626264;
}

.content-div{
  padding-left: 10px;
  margin-bottom: 0;
}

.petshop.active {
  border-bottom: 3px solid rgb(var(--primary));
  transition: 0.5s;
  background: #f6f5f5;
  transform: scale(1.02);
}